{% extends 'base.html' %}
{% load steptimetags %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard - Desenvolvimento do Bitcoin</h1>
            <!--<div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>-->
          </div>

<div class="card" style="margin-bottom: 25px;">
  <div class="card-header bg-primary text-white h4" onclick="showHideGraph('#myChart', '#optionPrice')">
    Pesquisar desenvolvimento do Bitcoin pela data
  </div>
  <div class="row">
  <div class="col-3">
    <label for="exampleFormControlSelect1">Dia</label>
    <select class="form-control" id="txtDay" required>
     <option value="Default" selected>Dia</option>
	</select>
  </div>
   <div class="col-3">
    <label for="exampleFormControlSelect1">Mês</label>
    <select class="form-control" id="txtMonth" required>
      <option value="Default" selected>Mês</option>
    </select>
  </div>
   <div class="col-3">
    <label for="exampleFormControlSelect1">Ano</label>
    <select class="form-control" id="txtYear" required>
      <option value="Default" selected>Ano</option>
    </select>
  </div>
  <div class="col-3">
    <label for="exampleFormControlSelect1">Quantidade</label>
    <select class="form-control" id="txtQtty" required>
      <option value="Default" selected>Quantidade</option>
    </select>
  </div>
  </div>
  <button id="btnSearchDevelopment" type="button" class="btn btn-lg btn-primary text-white w-50 mx-auto" id="checkPrice" style="margin-top: 15px;">Verificar desenvolvimento</button>
 </div>
 
<div class="card" id="devBtc">
  <div class="card-header bg-primary text-white h4" onclick="showAndHide('#DevelopmentBtc', '#optionDevPrice')">
    Desenvolvimento do Bitcoin  <span id="optionDevPrice" style="float: right;font-weight: bold;">-</span>
  </div>
 <canvas class="my-4 w-100" id="DevelopmentBtc" width="900" height="380"></canvas>
</div>

<div class="card" id="listDevBtc" style="display: none;">
  <div class="card-header bg-primary text-white h4" onclick="showAndHide('#tbDevBtcFromApi', '#lblDevFromApi')">
    Resultado da pesquisa <span id="lblDevFromApi" style="float: right;font-weight: bold;">-</span>
  </div>
  <div id="tbDevBtcFromApi" class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Data Inicial</th>
                  <th>Data Final</th>
                  <th>Quantidade</th>
                  <th>Menu</th>
                </tr>
              </thead>
              <tbody>
               <tr>
              <td id="txtTimeFrom"><!--{{ valueDev.Data.TimeFrom|print_timestamp|date:"d-m-Y" }}--></td>
              <td id="txtTimeTo"><!--{{ valueDev.Data.TimeTo|print_timestamp|date:"d-m-Y" }}--></td>
              <td id="txtQuantity"><!--{{ valueDev.Data.TimeTo|print_timestamp|date:"d-m-Y" }}--></td>
              <td><button id="btnSaveAllDevelopment" type="button" class="btn btn-primary text-white">Salvar Todos</button></td>
			  </tr>
			   <table id="tbListDevPrice" class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Fechamento</th>
                  <th>Volume</th>
                  <th>Menu</th>
                </tr>
              </thead>
              <tbody>
			   <!--{% for val in valueDev.Data.Data %}
               <tr>
              <td>{{ val.time|print_timestamp|date:"d-m-Y"  }}</td>
              <td>{{ val.close  }}</td>
              <td>{{ val.volumefrom  }}</td>
                </tr>
                 {% endfor %}-->
                </tbody>
               </table>
              </tbody>
            </table>
          </div>
 </div>

<div class="card" id="listDevBtcFromDB">
  <div class="card-header bg-primary text-white h4" onclick="showAndHide('#tbDevBtcFromDb', '#lblDevFromDb')">
    Lista do desenvolvimento do Bitcoin <span id="lblDevFromDb" style="float: right;font-weight: bold;">-</span>
  </div>
  <div id="tbDevBtcFromDb"class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Ultimo</th>
                  <th>Volume</th>
                </tr>
              </thead>
              <tbody>
			  {% for valueDev in allData %}
               <tr>
              <td>{{ valueDev.data|date:"d-m-Y" }}</td>
              <td>{{ valueDev.ultimo }}</td>
              <td>{{ valueDev.volume }}</td>
			  </tr>
			  {% endfor %}
			  </tbody>
            </table>
          </div>
 </div>
 <div class="modal fade" id="infomationModel" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><!-- Here the text--></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="msgOutput" style="font-size:15px;"><!-- Text here --></p>
      </div>
      <div id="btnAction" class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
 
{% block javascript %} 
<script type="text/javascript">
var graphCanvas;

function addDates(){
 addDay();
 addMonth();
 addYear();
 addQuantity();
}

function addDay(){
	for(var p=1; p<=31; p++){
	  var opt = document.createElement('option');
      opt.value = p;
      opt.innerHTML = p;
      document.getElementById("txtDay").appendChild(opt);	
 }
}

function addMonth(){
var month = [
    "janeiro",
    "fevereiro",
    "março",
    "abril",
    "maio",
    "junho",
    "julho",
    "agosto",
    "setembro",
    "outubro",
    "novembro",
    "dezembro" 
 ];
	for(var p=0; p<12; p++){
	  var opt = document.createElement('option');
      opt.value = p+1;
      opt.innerHTML = month[p];
      document.getElementById("txtMonth").appendChild(opt);	
 }
}

function addYear(){
	for(var p=2009; p<=3000; p++){
	  var opt = document.createElement('option');
      opt.value = p;
      opt.innerHTML = p;
      document.getElementById("txtYear").appendChild(opt);	
 }
}
function addQuantity(){
	for(var p=1; p<=2000; p++){
	  var opt = document.createElement('option');
      opt.value = p;
      opt.innerHTML = p;
      document.getElementById("txtQtty").appendChild(opt);	
 }
}

function checkSearchingDevBtc(){
 var points = 4;
  if($("#txtDay").val() != "Default"){ points--; }
  if($("#txtMonth").val() != "Default"){ points--; }
  if($("#txtYear").val() != "Default"){ points--; }
  if($("#txtQtty").val() != "Default"){ points--; }
 return (points == 0) ?  true : alert("Um ou mais campos sem seleção !");
}

function showGraph(dates, closes, volumes){
 var ctx = document.getElementById("DevelopmentBtc");
     graphCanvas = new Chart(ctx, {
        type: 'line',
        data: {
          labels: (dates == null ) ? JSON.parse('{{ dates|safe }}') : dates,
          datasets: [{
		    label: ' Fechamento do Bitcoin',
            data: (closes == null ) ? JSON.parse('{{ closes|safe }}') : closes,
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          },
		  {
		    label: ' Volume do Bitcoin',
            data: (volumes == null ) ? JSON.parse('{{ volumes|safe }}') : volumes,
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#ff1a1a',
            borderWidth: 4,
            pointBackgroundColor: '#ff1a1a'
          },]
        },
        options: {
          legend: {
            display: false,
          }
        }
      }); 
}

function getListDevBtc(limit, date){
    $.ajax({
        url: "{% url 'DevelopmentSearchApi' %}",
		data: {
          'toLimit': limit,
		  'toTs': date
        },
        dataType: 'json',
        type: 'get',
        cache:false,
        success: function(data){
            //console.log(data);
            var event_data = '<tbody>';
			var mainObj = data.devPrice.Data.Data;
			 var timeFrom = new Date(data.devPrice.Data.TimeFrom * 1000);
			 var timeTo = new Date(data.devPrice.Data.TimeTo * 1000);
			 $('#txtTimeFrom').text(("0" + timeFrom.getDate()).slice(-2)+"/"+("0" + (timeFrom.getMonth() + 1)).slice(-2) + "/" + timeFrom.getFullYear());
			 $('#txtTimeTo').text(("0" + timeTo.getDate()).slice(-2)+"/"+("0" + (timeTo.getMonth() + 1)).slice(-2) + "/" + timeTo.getFullYear());
			 $('#txtQuantity').text(mainObj.length);
			$('#tbListDevPrice').find('tbody').remove();
			 for(i = 0;i < mainObj.length; i++){
			    var d = new Date(mainObj[i]["time"] * 1000);
				event_data += '<tr>';
                event_data += '<td class="getDateToSave">'+("0" + d.getDate()).slice(-2)+"/"+("0" + (d.getMonth() + 1)).slice(-2) + "/" + d.getFullYear()+'</td>';
                event_data += '<td class="getCloseToSave">'+mainObj[i]["close"]+'</td>';
                event_data += '<td class="getVolumeToSave">'+mainObj[i]["volumefrom"]+'</td>';
                event_data += '<td><button type="button" class="btn btn-primary text-white btnSaveOneDevelopment">Salvar</button></td>';
                event_data += '</tr>';
			 }
			 event_data += '</tbody>';
            $("#tbListDevPrice").append(event_data);
			if(!$("#listDevBtc").is(":visible")){ $("#listDevBtc").css({'display': 'block'}); }
			//getDateUpdateGraph();
        },
        error: function(d){
            /*console.log("error");*/
            alert("404. Please wait load from api.");
        }
    });
}

function setSaveAllListDevBtc(limit, date){
    $.ajax({
        url: "{% url 'DevelopmentSaveAll' %}",
		data: {
          'toLimit': limit,
		  'toTs': date
        },
        dataType: 'json',
        type: 'get',
        cache:false,
        success: function(data){
            //console.log(data);
            if(data.saved){ }
			//getDateUpdateGraph();
        },
        error: function(d){
            /*console.log("error");*/
            alert("404. Please wait load from api.");
        }
    });
}

function setSaveListDevBtc(date, close, volume){
    $.ajax({
        url: "{% url 'DevelopmentSave' %}",
		data: {
          'date': date,
		  'close': close,
		  'volume': volume
        },
        dataType: 'json',
        type: 'get',
        cache:false,
        success: function(data){
            //console.log(data);
            if(data.saved){ alert("Work !") }
			//getDateUpdateGraph();
        },
        error: function(d){
            /*console.log("error");*/
            alert("404. Please wait load from api.");
        }
    });
}

$("#btnSearchDevelopment").on("click", function(){
 if(checkSearchingDevBtc()){ 
   getListDevBtc($("#txtQtty").val(), $("#txtDay").val()+"/"+$("#txtMonth").val()+"/"+$("#txtYear").val()); 
   setTitleAndMsgInformationModel("Operação realizada com sucesso !", "Consulta realizada com sucesso !"); 
   rmElement("btnSaveAllDataToDB");
   rmElement("btnRemoveRowTable");
   $('#infomationModel').modal('show');
 }
});

$("#btnSaveAllDevelopment").on("click", function(){
setTitleAndMsgInformationModel("Realizar operação de cadastro ?", "Deseja cadastrar todos os dados da tabela ?");
createSaveAllButton();
$('#infomationModel').modal('show');
});

$(document).on('click', '.btnSaveOneDevelopment', function(){
 var row = $(this).closest("tr");    // Find the row
 var dateToSave = row.find(".getDateToSave").text();
 var closeToSave = row.find(".getCloseToSave").text();
 var volumeToSave = row.find(".getVolumeToSave").text();
 var dateConvert = moment(dateToSave,"DD/MM/YYYY").toDate();
 var d = new Date(dateConvert);
 var dateFormatToSave =  d.getFullYear()+"-"+("0" + (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
  setSaveListDevBtc(dateFormatToSave, closeToSave, volumeToSave);
  setTitleAndMsgInformationModel("Operação realizada com sucesso !", "Dados salvos com sucesso !");
   rmElement("btnSaveAllDataToDB");
   rmElement("btnRemoveRowTable");
  $('#infomationModel').modal('show');
});

function createSaveAllButton(){
 if(document.getElementById("btnSaveAllDataToDB") == null){
   let btn = document.createElement("button");
    btn.innerHTML = 'Salvar todos os dados';
    btn.type = "button";
    btn.id = "btnSaveAllDataToDB";
    btn.className = "btn btn-success";
    btn.onclick = function (){ saveAllDataFromApi(); };
   document.getElementById("btnAction").appendChild(btn);
 }
}

function saveAllDataFromApi(){
  setSaveAllListDevBtc($("#txtQtty").val(), $("#txtDay").val()+"/"+$("#txtMonth").val()+"/"+$("#txtYear").val());
  setTitleAndMsgInformationModel("Operação realizada com sucesso !", "Todos os dados foram salvos com sucesso !");
  rmElement("btnSaveAllDataToDB");
  rmElement("btnRemoveRowTable");
}

function rmElement(idElement){
 if(document.getElementById(idElement) != null){ return document.getElementById(idElement).remove(); }
}

function scrollToElement(idElement){ document.getElementById(idElement).scrollIntoView(); }

function setTitleAndMsgInformationModel(title, msg){
 $("#exampleModalLabel").text(title);
 $("#msgOutput").text(msg);
}

function showAndHide(divActiom, changeLabel){
($(changeLabel).text() == "-") ? $(changeLabel).text("+") : $(changeLabel).text("-");
 $(divActiom).toggle();
}

function toDate(dateStr) {
  var parts = dateStr.split("-")
  return new Date(parts[2], parts[1] - 1, parts[0])
}

//Begin functions
showGraph(null, null, null);
addDates();
</script>
{% endblock %}
