{% extends 'base.html' %}

{% block stylecss %}
<style type="text/css">
.widgets_div {
	border-bottom: thin #edf1f2 solid;
	padding: 22.85px 0;
}

.widgets_div .icon_div {
	display: inline-block;
	margin-left: 15px;
}

.widgets_div .icon_div span i {
	font-size: 24px;
}

.icon_div > span {
  display:table;
}

.widgets_div .text_div {
	display: inline-block;
	margin-left: 10px;
}

.widgets_div .text_div span {
	color: #58666e;
	font-size: 20px;
}

.widgets_div .text_div span + span {
	color: #747F85;
	font-size: 15px;
}
</style>
{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard - Home</h1>
            <!--<div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>-->
          </div>
		  
<div class="content">
 <div class="row"> 
  <div class="widgets_div">
          <div class="icon_div">
            <span data-feather="dollar-sign" style="width: 35px;height: 35px;"></span>
          </div>
          <div class="text_div">
            <span>Preço do Bitcoin</span><br>
            <span id='info'><!-- value --></span>
          </div>
        </div>
  <div class="col infoCard">
   <!-- Text 2 -->
  </div>  
  <div class="col infoCard">
   <!-- Text 3 -->
  </div> 
 </div> 
</div>
<div class="card" id="priceBtc">
  <div class="card-header bg-primary text-white h4" onclick="showHideGraph('#myChart', '#optionPrice')">
    Preço do Bitcoin <span id="optionPrice" style="float: right;font-weight: bold;">-</span>
  </div>
 <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
</div>
<div class="card" id="devBtc">
  <div class="card-header bg-primary text-white h4" onclick="showHideGraph('#DevelopmentBtc', '#optionDevPrice')">
    Desenvolvimento do Bitcoin <span id="optionDevPrice" style="float: right;font-weight: bold;">-</span>
  </div>
 <canvas class="my-4 w-100" id="DevelopmentBtc" width="900" height="380"></canvas>
</div>
         <!-- <h2>Section title</h2>-->
		
          <!--<div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
              </tbody>
            </table>
          </div>-->
		  
<script type="text/javascript">
 <!-- Development of Bitcoin -->
      var ctxTwo = document.getElementById("DevelopmentBtc");
      var myChartTwo = new Chart(ctxTwo, {
        type: 'line',
        data: {
          labels: JSON.parse('{{ datesDev|safe }}'),
          datasets: [{
		    label: ' Fechamento do Bitcoin',
            data: JSON.parse('{{ closesDev|safe }}'),
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          },
		  {
		    label: ' Volume do Bitcoin',
            data: JSON.parse('{{ volumesDev|safe }}'),
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#ff1a1a',
            borderWidth: 4,
            pointBackgroundColor: '#ff1a1a'
          },]
        },
        options: {
          legend: {
            display: false,
          }
        }
      });
 <!-- Price of Bitcoin -->
	 var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: JSON.parse('{{ dates|safe }}'),
          datasets: [{
		    label: ' Preço do Bitcoin',
            data: JSON.parse('{{ prices|safe }}'),
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          legend: {
            display: false,
          }
        }
      });
  
 /* Get data from api by time */
const getBtcData = async () => {
   fetch('https://min-api.cryptocompare.com/data/price?fsym=BTC&tsyms=USD')
  .then(response => response.json())
  .then(data => {
    document.getElementById("info").innerHTML = '<b>1 BTC = ' + data.USD + ' USD</b>'
  });
}
getBtcData();
tcount=setInterval(function(){
  tcount++
  if (tcount==10) {getBtcData(); tcount=0}
  //document.getElementById("infotime").innerHTML = 'Next update in ' + (10-tcount) + ' seconds'
},1000);

function showHideGraph(option, tztOption){
  ($(tztOption).text() == "-") ? $(tztOption).html('+') : $(tztOption).html('-');
  $(option).toggle();
}

</script>    
{% endblock %}
